# Mi primer Notebook

In [1]:
import pandas as pd

In [2]:
pd.DataFrame({"A": [1, 2, 3], 
              "B": [4, 5, 6]})

   A  B
0  1  4
1  2  5
2  3  6